@mixin pFeatures {
  font-family: "Nunito";
  font-weight: 400;
  font-size: 40px;
}
.usersSection {
  min-width: 328px;
  max-width: 1170px;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__container {
    padding: 140px 16px;
    width: 328px;
    @media all and (min-width: 768px) {
      width: 704px;
      padding: 140px 32px;
    }
    @media all and (min-width: 1024px) {
      width: 904px;
      padding: 140px 60px;
    }
    @media all and (min-width: 1171px) {
      width: 1168px;
      padding: 140px 0;
    }
  }
  &__title {
    margin: 0 0 50px 0;

    @include pFeatures;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  &__button {
    @include pFeatures;
    font-size: 16px;
    margin-top: 36px;
    width: 120px;
    height: 34px;
    border-radius: 25px;
    border: 0;
    color: #000;
    background: #f4e041;
    &:hover {
      background: #ffe302;
    }
  }

  //   @media all and (min-width: 767px) {
  //     background: url("../../images/info/imageTwo.png") no-repeat center center;
  //     background-size: 100% 100%;
  //   }
  //   @media all and (min-width: 1023px) {
  //     background: url("../../images/info/image3.png") no-repeat center center;
  //     background-size: 100% 100%;
  //     min-height: 650px;
  //   }
}
