@mixin textFeatures {
  font-family: "NunitoRegular";
  font-weight: 400;
  font-size: 16px;
}
$errorColor: #cb3d40;
$themeColor: #e5e5e5;
$templateColor: #7e7e7e;
.signUpSection {
  &__fileContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__fileInput {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 83px;
    height: 54px;
    outline: none;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__button {
    @include textFeatures;
    width: 83px;
    height: 54px;
    margin: 0;
    padding: 0;
    background-color: #d0cfcf;
    border-radius: 4px 0 0 4px;
    border: 1px solid #000;
    color: #000;
  }
  &__textarea {
    @include textFeatures;
    width: 245px;
    height: 54px;
    box-sizing: border-box;
    padding: 15px 0 15px 16px;
    line-height: 24px;
    @include textFeatures;
    border-radius: 0 4px 4px 0;
    background-color: $themeColor;
    resize: none;
    overflow: hidden;
    outline: none;
    border: 1px solid #d0cfcf;
    @media all and (min-width: 768px) {
      width: 297px;
    }
  }
  &__errorTemplate {
    @include textFeatures;
    margin: 0 0 0 10px;
    font-size: 12px;
    color: $templateColor;
    color: $errorColor;
  }
  &__redBorderTextarea {
    border-width: 2px 2px 2px 1px;
    border-color: #cb3d40;
  }
  &__redBorderButton {
    border-width: 2px 1px 2px 2px;
    border-color: #cb3d40;
  }
}
